<div class="container-fluide">
        <div class="row">
      <div class="col">
        <h3 class="text-primary text-center">MY CART PRODUCT</h3>
      </div>
    </div>
    <div class="row">
        <div class="col-9">
            <input type="text" class="form-control" [(ngModel)]="title">
        </div>
        <div class="col">
            <button class="btn btn-success" (click)="save()">Save</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <tr>
                    <th>Sr No</th>
                    <th>Title</th>
                    <th>createdAt</th>
                    <th>Actions</th>
                </tr>
                <tr *ngFor="let todo of todoArray; let i = index">
                  <td>{{ i+1 }}</td>
                  <td>{{ todo.title}}</td>
                  <td>{{todo.createdAt | date: "dd-mm-yyyy"}}</td>
                  <td>
                    <button class="btn btn-outline-warning" (click)="edit(todo)">Edit</button>
                    <button class="btn btn-outline-danger" (click)="delete(todo._id)">Delete</button>
                  </td>

                </tr>
            </table>
        </div>
    </div>
</div>
