
<header>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-3">
          <div class="tym">
            <h3>{{time | date:" hh:mm"}}</h3>
        </div>
        </div>
        <div class="col-md-9 col-sm-9 col-9 text-end">
          <div class="stausbar">
            <i class="fas fa-signal"></i>
                       <i class="fas fa-wifi"></i>
              <i class="fas fa-battery-full"></i>  
          </div>
        </div>
      </div>
    </div>
  </header>
<h1 class="text-center sectionheading my-5">All Varieties</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4 skillsleft">
            <div class="card1" style="width: 15rem;">
                <img src="assets/lipstick1.jfif" class="card-img-top" height="250px">
                <h5 class="card-title">Matte Pink</h5><br>
                <h4>Price: ₹399</h4>
                <h6>include all taxes</h6>
                <div class="card-body">
                    <a routerLink="cosmatics1" class="btn btn-primary" (click)="cos('Matte Pink', 'assets/lipstick1.jfif', '₹399')">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 skillscenter">
            <div class="card1" style="width: 15rem;">
                <img src="assets/blush pallet.jfif" class="card-img-top" height="250px">
                <h5 class="card-title">Blush Pallet</h5>
                <h4>Price:₹999</h4>
                <h6>include all taxes</h6>
                <div class="card-body">
                        <a routerLink="cosmatics1" class="btn btn-primary" (click)="cos('Blush Pallet', 'assets/blush pallet.jfif', '₹999')">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 skillsright">
            <div class="card1" style="width: 15rem;">
                <img src="assets/compact.jfif" class="card-img-top" height="250px">
                <h5 class="card-title">Compact Powder</h5>
                <h4>Price:₹1299</h4>
                <h6>include all taxes</h6>
                <div class="card-body">
         <a routerLink="cosmatics1" class="btn btn-primary" (click)="cos('Compact Powder', 'assets/compact.jfif', '₹1299')">Buy Now</a>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-4 skillsleft">
            <div class="card1" style="width: 15rem;">
                <img src="assets/nail.jfif"class="card-img-top" height="250px">
                <h5 class="card-title">Nail Extensions</h5>
                    <h4>Price:₹400</h4>
                    <h6>include all taxes</h6>
                    <div class="card-body">
                    <a routerLink="cosmatics1" class="btn btn-primary" (click)="cos('Compact Powder', 'assets/compact.jfif', '₹400')">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 skillcenter">
            <div class="card1" style="width: 15rem;">
                <img src="assets/liner.jfif" class="card-img-top" height="250px">
                <h5 class="card-title">Eye Liner</h5>
                    <h4>Price:₹1099</h4>
                    <h6>include all taxes</h6>
                    <div class="card-body">
                    <a routerLink="cosmatics1" class="btn btn-primary" (click)="cos('Eye Liner', 'assets/liner.jfif', '₹1099')">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 skillsright">
            <div class="card1" style="width: 15rem;">
                <img src="assets/syrum.jfif" class="card-img-top" height="250px">
                <h5 class="card-title">Vitamin C Syrum</h5>
                    <h4>Price:₹2099</h4>
                    <h6>include all taxes</h6>
                    <div class="card-body">
                    <a routerLink="cosmatics1" class="btn btn-primary" (click)="cos('Vitamin C Syrum', 'assets/syrum.jfif', '₹2099')">Buy Now</a>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-4 skillsleft">
            <div class="card1" style="width: 15rem;">
                <img src="assets/brush.jfif" class="card-img-top" height="250px">
                <h5 class="card-title">Makeup Brush</h5>
                    <h4>Price:₹999</h4>
                    <h6>include all taxes</h6>
                    <div class="card-body">
                    <a routerLink="cosmatics1" class="btn btn-primary" (click)="cos('Makeup Brush', 'assets/brush.jfif', '₹999')">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 skillscenter">
            <div class="card1" style="width: 15rem;">
                <img src="assets/facepack.jfif" class="card-img-top" height="250px">
                <h5 class="card-title">Turmeric Ubtan Facepack</h5>
                    <h4>Price:₹5000</h4>
                    <h6>include all taxes</h6>
                    <div class="card-body">
                    <a routerLink="cosmatics1" class="btn btn-primary" (click)="cos('Turmeric Ubtan Facepack', 'assets/facepack.jfif', '₹5000')">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 skillsright">
            <div class="card1" style="width: 15rem;">
                <img src="assets/facewash.jfif" class="card-img-top" height="250px">
                <h5 class="card-title">Men FaceWash</h5>
                    <h4>Price:₹489</h4>
                    <h6>include all taxes</h6>
                    <div class="card-body">
                    <a routerLink="cosmatics1" class="btn btn-primary" (click)="cos('Turmeric Ubtan Facepack', 'assets/facepack.jfif', '₹5000')">Buy Now</a>
                </div>
            </div>
        </div>
</div>