<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-3">
                <div class="tym">
                    <h3>{{time | date:" hh:mm"}}</h3>
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-9 text-end">
                <div class="stausbar">
                    <i class="fas fa-signal me-3"></i>
                    <i class="fas fa-wifi me-3"></i>
                    <i class="fas fa-battery-full me-3"></i>
                </div>
            </div>
        </div>
    </div>
</header>
<h1 class="text-center sectionheading my-5">All Varieties</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4 skillsleft">
            <div class="card1" style="width: 15rem;">
                <img src="assets/watch1.jfif" class="card-img-top" height="250px">
                <h5 class="card-title">Watch with calling </h5><br>
                <h4>Price: ₹23,199</h4>
                <h6>include all taxes</h6>
                <div class="card-body">
                    <a routerLink="smart-watch1" class="btn btn-primary"
                        (click)="smart('Watch with calling','assets/watch1.jfif','23,199' )">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 skillscenter">
            <div class="card1" style="width: 15rem;">
                <img src="assets/watch2.jfif" class="card-img-top" height="250px">
                <h5 class="card-title">Luxury Look</h5>
                <h4>Price:₹6999</h4>
                <h6>include all taxes</h6>
                <div class="card-body">
                    <a routerLink="smart-watch1" class="btn btn-primary"
                        (click)="smart('Luxury Look','assets/watch2.jfif','6,999' )">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 skillsright">
            <div class="card1" style="width: 15rem;">
                <img src="assets/watch3.jfif" class="card-img-top" height="250px">
                <h5 class="card-title">Smarty</h5>
                <h4>Price:₹12,990</h4>
                <h6>include all taxes</h6>
                <div class="card-body">
                    <a routerLink="smart-watch1" class="btn btn-primary"
                        (click)="smart('Smarty','assets/watch3.jfif','12,990' )">Buy Now</a>

                </div>
            </div>
        </div>
        <br><br>
        <div class="col-md-4 skillsleft">
            <div class="card1" style="width: 15rem;">
                <img src="assets/watch4.jfif" class="card-img-top" height="250px">
                <h5 class="card-title">Trending</h5>
                <div class="card-body">
                    <h4>Price:₹14,000</h4>
                    <h6>include all taxes</h6>
                    <a routerLink="smart-watch1" class="btn btn-primary"
                        (click)="smart('Trending','assets/watch4.jfif','14,000' )">Buy Now</a>

                </div>
            </div>
        </div>
        <div class="col-md-4 skillcenter">
            <div class="card1" style="width: 15rem;">
                <img src="assets/watch5.jfif" class="card-img-top" height="250px">
                <h5 class="card-title">Smart Watch</h5>
                <div class="card-body">
                    <h4>Price:₹60,199</h4>
                    <h6>include all taxes</h6>
                    <a routerLink="smart-watch1" class="btn btn-primary"
                        (click)="smart('Smart Watch','assets/watch5.jfif','60,199' )">Buy Now</a>

                </div>
            </div>
        </div>
        <div class="col-md-4 skillsright">
            <div class="card1" style="width: 15rem;">
                <img src="assets/watch6.jfif" class="card-img-top" height="250px">
                <h5 class="card-title">Classy Design</h5>
                <div class="card-body">
                    <h4>Price:₹16,099</h4>
                    <h6>include all taxes</h6>
                    <a routerLink="smart-watch1" class="btn btn-primary"
                        (click)="smart('Classy Design','assets/watch6.jfif','16,099' )">Buy Now</a>
                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-4 skillsleft">
                <div class="card1" style="width: 15rem;">
                    <img src="assets/watch7.jfif" class="card-img-top" height="250px">
                    <h5 class="card-title">Smart Watch</h5>
                    <div class="card-body">
                        <h4>Price:₹10,999</h4>
                        <h6>include all taxes</h6>
                        <a routerLink="smart-watch1" class="btn btn-primary"
                            (click)="smart('Smart Watch','assets/watch7.jfif','10,999' )">Buy Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 skillscenter">
                <div class="card1" style="width: 15rem;">
                    <img src="assets/watch8.jfif" class="card-img-top" height="250px">
                    <h5 class="card-title">Most Awesome</h5>
                    <h4>Price:₹15000</h4>
                    <h6>include all taxes</h6>
                    <div class="card-body">
                        <a routerLink="smart-watch1" class="btn btn-primary"
                            (click)="smart('Most Awesome','assets/watch8.jfif','15,000' )">Buy Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 skillsright">
                <div class="card1" style="width: 15rem;">
                    <img src="/assets/watch9.jfif" class="card-img-top" height="250px">
                    <h5 class="card-title">Stylish</h5>
                    <h4>Price:₹15489</h4>
                    <h6>include all taxes</h6>
                    <div class="card-body">
                        <a routerLink="smart-watch1" class="btn btn-primary"
                            (click)="smart('Stylish','/assets/watch9.jfif','15,489' )">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>