<div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="{{image}}" height="600px">
      </div>
      <div class="col-md-6">
        <h5> {{ name }} </h5>
        <hr>
        <h6> {{price}}</h6><br>
        <div class="dropdown">
          Quantity
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            01
          </button><br>
          <p class="share">Share <span><i class="fab fa-facebook me-3"></i></span>
            <span><i class="fab fa-whatsapp me-3"></i></span>
            <span><i class="fab fa-instagram me-3"></i></span>
          </p>
          <h4>Product Details</h4>
          <h6>Material: </h6>Jade china & Ceramic, Hand painted 24k real gold & Electro plated gold<br>

          <h6>Care: </h6> Gentle hand wash, not suitable for dishwasher or microwave<br>
          
          <h6>Capacity:</h6> Teapot: 700 ml | Cup: 100 ml.<br>
          
          <h6>Origin:</h6> Made in China<br>
          
           <h6>Packaging:</h6> Brown Box.<br>
        <br><br><button class="btn btn-danger">Add To Cart</button>
          <button class="btn btn-light">Buy Now</button>
  
        </div>
      </div>
    </div>
  </div>
  
  

