<h1 class="text-center sectionheading my-5">All Categories</h1>
<div class="container">
<div class="row">
        <div class="col-md-4 skillsleft">
            <div class="card1" style="width: 15rem;">
                <img src="assets/Clothes1.webp"
                    class="card-img-top" height="250px">
                <h5 class="card-title">Dresses</h5>
                <div class="card-body">
                        <a routerLink="cloth" (click)="cloth()" class="btn btn-primary">See More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 skillscenter">
            <div class="card1" style="width: 15rem;">
                <img src="assets/cosm1.jfif"
                    class="card-img-top" height="250px">
                <h5 class="card-title">Cosmatics</h5>
                <div class="card-body">
                    <a routerLink="cosmatics" (click)="cosm()" class="btn btn-primary">See More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 skillsright">
            <div class="card1" style="width: 15rem;">
                <img src="/assets/footwear-colored-icons-set_98292-3308.avif" class="card-img-top" alt="...">
                <h5 class="card-title">Footwear</h5>
                <div class="card-body">
                  
                    <a routerLink="footwear" (click)="foot()" class="btn btn-primary">See More</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 skillsleft">
            <div class="card1" style="width: 15rem;">
                <img src="/assets/Smartwatches-lined-up-for-2022.webp"class="card-img-top" height="250px">
                <h5 class="card-title">Smart Watch</h5>
                <div class="card-body">
                    <a routerLink="smart-watch" (click)="smartwatch()" class="btn btn-primary">See More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 skillcenter">
<div class="card1" style="width: 15rem;">
<img src="/assets/asse.jfif" class="card-img-top" height="250px">
<h5 class="card-title">Fasion Accessories</h5>
<div class="card-body">
    <a routerLink="fasion" (click)="fasion()" class="btn btn-primary">See More</a>
</div>
        </div>
        </div>
        <div class="col-md-4 skillsright">
            <div class="card1" style="width: 15rem;">
            <img src="assets/smartphone.jfif" class="card-img-top" height="250px">
            <h5 class="card-title">Smart Phone</h5>
            <div class="card-body">
                <a routerLink="phone" (click)="phone()" class="btn btn-primary">See More</a>
            </div>
        </div>
</div>
<div class="col-md-4 skillsleft">
    <div class="card1" style="width: 15rem;">
    <img src="assets/jacket.jfif" class="card-img-top" height="250px">
    <h5 class="card-title">Jacket</h5>
    <div class="card-body">
        <a routerLink="jacket"(click)="jacket()" class="btn btn-primary">See More</a>
    </div>
 </div>
</div>
<div class="col-md-4 skillscenter">
    <div class="card1" style="width: 15rem;">
    <img src="assets/sunglasses.jpg" class="card-img-top" alt="...">
    <h5 class="card-title">Sun Glasses</h5>
    <div class="card-body">
        <a routerLink="sunglass" (click)="sunglass()" class="btn btn-primary">See More</a>
    </div>
            </div>
</div>
<div class="col-md-4 skillsright">
    <div class="card1" style="width: 15rem;">
    <img src="assets/crocery.jpg" class="card-img-top" alt="...">
    <h5 class="card-title">Crockery</h5>
    <div class="card-body">
        <a routerLink="crock" (click)="crock()" class="btn btn-primary">See More</a>
    </div>
    </div>
</div>