<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="{{image}}" height="600px">
    </div>
    <div class="col-md-6">
      <h5> {{ name }} </h5>
      <hr>
      <h6> ₹{{price}}</h6><br>
      <div class="dropdown">
        Quantity
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          01
        </button><br>
        <p class="share">Share <span><i class="fab fa-facebook"></i></span>
          <span><i class="fab fa-whatsapp me-3"></i></span>
          <span><i class="fab fa-instagram me-3"></i></span>
        </p>
        <h4>Product Details</h4>
        <h5>Material & Care</h5>
        <p>100% Supima Cotton
          Machine Wash
        </p>
        <p>Country of Origin: India (and proud)
          Manufactured & Sold By:
          The Souled Store Pvt. Ltd. 224, Tantia Jogani Industrial Premises
          J.R. Boricha Marg
          Lower Parel (E)
          Mumbai - 11
          connect@thesouledstore.com</p>
        <button class="btn btn-danger">Add To Cart</button>
        <button class="btn btn-light">Buy Now</button>

      </div>
    </div>
  </div>
</div>

