<div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="{{image}}" height="600px">
      </div>
      <div class="col-md-6">
        <h5> {{ name }} </h5>
        <hr>
        <h6> {{price}}</h6><br>
        <div class="dropdown">
          Quantity
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            01
          </button><br>
          <p class="share">Share <span><i class="fab fa-facebook me-3"></i></span>
            <span><i class="fab fa-whatsapp me-3"></i></span>
            <span><i class="fab fa-instagram me-3"></i></span>
          </p>
          <h4>Product Details</h4>
          <h6>Warranty: 1 month</h6>
          Warranty provided by brand/manufacturer<br> 
          Size & Fit<br>
          Length: 12 cm<br>
          <h6>Care Instructions:</h6>
          Wipe your jewellery with a soft cloth after every use
          Always store your jewellery in a flat box to avoid accidental scratches
          Keep sprays and perfumes away from your jewellery
          Do not soak your jewellery in water
         
          
        <br><br><button class="btn btn-danger">Add To Cart</button>
          <button class="btn btn-light">Buy Now</button>
  
        </div>
      </div>
    </div>
  </div>
