<header>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-3">
        <div class="tym">
          <h3>{{time | date:" hh:mm" }}</h3>
        </div>
      </div>
      <div class="col-md-9 col-sm-9 col-9 text-end">
        <div class="stausbar">
          <i class="fas fa-signal me-3"></i>
          <i class="fas fa-wifi me-3"></i>
          <i class="fas fa-battery-full me-3"></i>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container3">
  <p>
    <label for="new password">New Password</label>
    <input type="password" id="password" name="password" formControlName="newpassword">
  </p>
  <p>
    <label for="password">Repeat Password</label>
    <input type="password" id="password" name="password" formControlName="repeatpassword">
  </p>
  <button class="btn btn-success" (click)="pass()">Continue</button>
</div>